name: Sync Fork

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Sync Fork
      uses: tgymnich/fork-sync@v1.8
      with:
        token: ${{ secrets.PAT_TOKEN }}
        owner: ByStartup-Desenvolvimento
        base: main
        head: main
